
{% extends 'base.html' %}
{% block content %}

<div class="mainhead2">
    <h6> Your Courses</h6>
   </div>

{% for course in course %}

<a href="/course/{{ course.id }}">
  <div class=cardhead2>
   <div class="card">
       <div class="card-content">
   <h3>  Course: {{ course.course_name}} </h3>
   <h3>  <i>Click To Add Score!</i> </h3>
       </div>
    </a>
</div>
</div>

<!-- <h1>Average Score</h1>
<h1>{{avg}}</h1> -->


<div class="col s6">
  <div class="table_wrapper">
    <table id="formmain" class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Score</th>

        <th>Birdies</th>

      <th>Pars</th>
      <th>Fairways Hit</th>

      <th>Greens Hit</th>
      <th>Memorable Moment</th>
    </tr>
      </thead>
      <tbody>
        {% for score in course.score_set.all %}
          <tr>
            <td>{{score.date}}</td>
            <td>{{score.total_score}}</td>
            <!-- <td>{{score.number_of_eagles}}</td> -->
            <td>{{score.number_of_birdies}}</td>
            <td>{{score.number_of_pars}}</td>
            <!-- <td>{{score.total_number_of_bogeys}}</td>
            <td>{{score.number_of_blow_up_holes}}</td> -->
            <td>{{score.number_of_fairways_hit}}</td>
            <td>{{score.number_of_greens_hit}}</td>
            <td>{{score.memorable_moment}}</td>
            <!-- <td>{{score.created}}</td> -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>


{% endfor %}
{% endblock %}