{% extends 'base.html' %}

{% block content %}
{% block scripts%}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
$(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for item in qs %}'{{item.date}}', {% endfor %}],
            datasets: [{
                label: 'Total Score',
                data: [{% for item in qs %}{{item.total_score}},{% endfor %}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                    '#078002',
                ],
                borderWidth: 3
            }]
        },
         options: {


            legend: {
                
                display: true,
                position: 'top',
                labels: {
                "fontSize": 20,
                }

            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                        
                    }
                }]
            }
        }
    });

});
</script>
{% endblock scripts%}


<canvas id="myChart" width="500" height="200"></canvas>
</div class= "wrapper">
<section class="section">
    
<div class="container8">
    <h13 style="font-size: 200%;">Total Stats</h13>
    <br>
<div class="container5">
           <br> <h11 >Average Score : {{score_ave}}</h11> </br>
           <br> <h11 >Best Score : {{score_best}}</h11></br>
            <br><h11 >Total Strokes : {{total_strokes}}</h11></br>
</div>
</div>
      <div class="container8">
        <h13 style="font-size: 200%;">Last Five Rounds Stats</h13>
        <br>
        <div class="container5">
          <br><h12 >Average Score : &emsp;{{avg_last_five}}</h12><br />
          <br><h12 >Best Score : &emsp;{{last_five_lowest}}</h12><br />
          <br><h12 >Total Strokes : &emsp;{{last_five_strokes}}</h12><br />
        
  </div>
</div>
</div>
</section>

{% endblock %}  