{% extends 'base.html' %}
{% block content %}

<div class="intropage">
<div class="container">
<!-- <h5>Talk Birdie To Me</h5> -->
<br>
<h5 class="subtitle">

</h5>
<div class="tile is-ancestor">
<div class="tile is-vertical is-8">
<div class="tile">

<div class="tile is-parent is-vertical">
<article class="tile is-child notification is-primary">
    <a href="/scores/">
<p class="title" style="text-align: center;">See Your Scores</p>
<br>
<figure class="image is-4by3">
<img src="/static/css/public/filledcard.jpg" style="border: solid;">
</a>
</figure>
</article>

<article class="tile is-child notification is-warning ">
    <a href="/scores/create">
    <p class="title" style="text-align: center;"> Add a Score</p>
        </a>
</article>
</div>


<div class="tile is-parent">
<article class="tile is-child notification is-info">
    <a href="/course/">
        <p class="title" style="text-align: center;">See Your Courses</p>
        <br>
        <figure class="image is-4by3">
        <img src="/static/css/public/course.png" style="border: solid;">
        </a>
</article>
</div>
</div>



<div class="tile is-parent">
<article class="tile is-child notification is-danger">
    <a href="/course/create" style="color: #4C421C">
    <p class="title" style="text-align: center;">Add A Course</p>
</a>
<div class="content">


</div>
</article>
</div>
</div>
<div class="tile is-parent">
<article class="tile is-child notification is-success">
<div class="content">
<a href="/analytics/">
<p class="title" style="text-align: center;">Analytics</p>

<p class="subtitle" style="text-align: center;">You're better than your friends and can prove it statistically:</p>
<figure class="image is-4by3">
<img src="/static/css/public/images.jpg" style="border: solid;">
</a>
<br>

<div class="content">
<!-- Content -->
</div>
</div>
</article>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

{% endblock %}

