{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Talk Birdie to Me</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
</head>
<body>

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
<div style="font-family: 'Dancing Script', cursive;">

</a>

<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div>

  Space
</div>
<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">
<a class="navbar-item" href="/">
<h1>Home</h1>
</a>  
</div>

{% if user.is_authenticated %}

<div class="navbar-start has dropdown">
<a class="navbar-item">
<!-- Scores Home -->
</a>  

<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">
  <h1>Scores Home</h1>
</a>


<div class="navbar-dropdown">

<a class="navbar-item" href="/scores">
  <h1>See All My Scores</h1>
</a>
<a class="navbar-item" href="{% url 'score_create' %}">
  <h1>Add a New Total Score!</h1>
</a>
<hr class="navbar-divider">
<a class="navbar-item">
  <h1>Add a Score By Hole</h1>
</a>
</div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">
  <h1>Course Home</h1>
</a>

<div class="navbar-dropdown">

<a class="navbar-item" href="/course">
  <h1>See All My Courses</h1>
</a>
<a class="navbar-item" href="{% url 'course_create' %}">
  <h1>Add a New Course! </h1>
</a>
</div>
</div>
</div>

<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">
  <a class="navbar-item" href="/analytics">
    <h1>Analytics </h1>
  </a>  
</div>
</div>


<!-- <div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-end">
    <a class="navbar-item" href="/">
      <h1> Hey, Gunslinger {{user}}..</h1> 
    </a>  
  </div>
  </div> -->

<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-end">
    <a class="navbar-item" href="/">
      <h3> {{user}}...&nbsp; &nbsp;</h3> 
      
      <div style="font-size:200%;",>
        <h1 style="color: green;">Talk Birdie To Me</h1> 
      </div>
    </a>  
  </div>
  </div>


<div id="navbarBasicExample" class="navbar-end">
  <div class="navbar-end">
    <a class="navbar-item" href="{% url 'logout' %}" >
      Log Out 
    </a>  
  </div>
  </div>
</a>
<div>
  Space
</div>

{% else %}

<div class="navbar-end">
<div class="navbar-item">
<div class="buttons">

<div style="font-size:200%;",>
  <h1 style="color: green;">Talk Birdie To Me</h1> 
</div>
&nbsp;
&nbsp;
&nbsp;

</a>
<a href="{% url 'signup' %}" class="button is-primary is-outlined large"> 
  Sign Up
</a>

</a>
<a href="{% url 'login' %}" class="button is-warning is-outlined large"> 
Log in
</a>


</div>
</div>
</div>
{% endif %}

</nav>

{% block content %}
{% endblock %}
</main>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</body>
</html>

